@model StudentAttendanceSystemGW.ViewModels.StudentReportVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "StudentReport", FormMethod.Get))
{


    <!-- h    hhhhhhh-->

    <div class="card" style="margin-top:1.5rem;">
        <div class="card-body">
            <div class="row">

                <div class="col-4">
                    <label>Date</label>
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })

                </div>
               

                <div class="col-4">
                    <button type="submit" value="Search" class="btn btn-outline-info" style="margin-top:25px;">Search</button>
                </div>
            </div>

        </div>
    </div>


    <!-- asdasdasd-->



  

    <table class="table" style="margin-top:1.5rem;">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.Report)
            {
                <tr>
                    <td>@item.StudentName</td>
                    <td>@item.Date</td>
                    <td>@item.Status</td>
                </tr>

            }
        </tbody>

    </table>

}